/* Nagivation */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;

}


/* home section */

#Home{
        height: 281px;
        padding: 6px 101px;

}
#Home::before{
    height: 400px;

}
#Home p{
    font-size: 13px;

}
/* services section */
#services{

}
#services .box{
    flex-direction: column;
}
/* client section */
#clients{
    overflow: hidden;
}

/* Contact Us */

/* footer */

/* utility classes */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}